body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #eaeaea;
  text-align: center;
}

h1 {
  color: #ff2a2a;
  margin-top: 100px;
}

p {
  font-size: 1.2rem;
  opacity: 0.9;
}
